.lock
.lock-info
.fcpcache
*/Analysis Files/
*/Render Files/
._*
__Sync__
.Spotlight-V100

$RECYCLE.BIN/
.Trashes/
1D00111DE0B94C3FA75C841FBFABDB17-proxy-SGNFLM_S001_S001_T033
4F4143C5BE3883354878B77226AEFCBB-optimized-C0005
7FFF8D9C7EA6CF0ACA02FDB0D3167A20-proxy-SGNFLM_S001_S001_T040
8A30F019BDDABC07958A5FDEC0A81E8C-proxy-SGNFLM_S001_S001_T041
8F6996ADD7889D075725C286F0F48038-optimized-C0024
9AB8A54A03B0E366A36C14FF17C6A068-optimized-C0014
A34C39E71368094BCF63ADD4C93352BE-proxy-SGNFLM_S001_S001_T042
C85FE91C6F7403BD6677822760909E80-proxy-SGNFLM_S001_S001_T029
CC34B7305ED6EF15A696C2C221629045-optimized-C0015
CFE96AABFE4C7420669C20D6CEF083D7-optimized-C0016
Cocksuckers.fcpbundle/7-10-2018/Original Media/
Cocksuckers.fcpbundle/7-10-2018/Render Files/
Cocksuckers.fcpbundle/7-10-2018/Transcoded Media/
Cocksuckers.fcpbundle/7-10-2018/Analysis Files
Cocksuckers.fcpbundle/__Temp/
D03ADAF4A0A503D0D2003B36FE27966F-proxy-SGNFLM_S001_S001_T034
DOUBLAGE_Litlle_Houdini_16_oct/
DSC_7703.JPG
DSC_7704.JPG
E3165904E8B3D25562C139B222AFA063-proxy-SGNFLM_S001_S001_T039
ELEMENTS/
F2E1C253DA1E5AFA5B019DC508806A0A-optimized-C0008
Final Cut Optimized Media/
Final Cut Original Media/
Final Cut Proxy Media/
FinalCutTest.fcpbundle/
Game of Thrones - 08x04 - The Last Of The Starks.GOT.French.C.orig.Addic7ed.com.srt
Game.of.Thrones.S08E04.1080p.AMZN.WEB-DL.DDP5.1.H.264-GoT.mkv
Game.of.Thrones.S08E04.1080p.AMZN.WEB-DL.DDP5.1.H.264-GoT.srt
Logic/
Strutter/
System Volume Information/
The Datsuns - MF From Hell-4E1ptItaRR4.mp4
Untitled.fcpbundle/
audio/
backup/
beaux/
concert marquise.fcpbundle/
export/
insert/
lylo/
newtypo/
rushs/
temp/
tempo.mov
test.wav
typos/
wetransfer-d02b65.zip
wetransfer-d02b65/
gif
gregg
stopmotion
photo_tv_freepik
.fseventsd
.com.apple.timemachine.donotpresent
