<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>export</key>
	<array>
		<dict>
			<key>date</key>
			<string>Sunday 18 November 2018 at 17:39:37 Central European Standard Time</string>
			<key>fullDate</key>
			<date>2018-11-18T16:39:37Z</date>
			<key>resultStr</key>
			<array>
				<string>/Volumes/Clip/temp/poulet.mov</string>
			</array>
			<key>sourceFP</key>
			<string>bKT5TEdTSyykhZcCkq5sqA - 2018-11-18 16:35:13 +0000</string>
		</dict>
		<dict>
			<key>date</key>
			<string>Sunday 2 December 2018 at 15:36:29 Central European Standard Time</string>
			<key>fullDate</key>
			<date>2018-12-02T14:36:29Z</date>
			<key>resultStr</key>
			<array>
				<string>/Volumes/Clip/export/Cocksuckers!.mov</string>
			</array>
			<key>sourceFP</key>
			<string>bKT5TEdTSyykhZcCkq5sqA - 2018-12-02 14:33:01 +0000</string>
		</dict>
		<dict>
			<key>date</key>
			<string>Sunday 3 February 2019 at 22:45:13 Central European Standard Time</string>
			<key>fullDate</key>
			<date>2019-02-03T21:45:13Z</date>
			<key>resultStr</key>
			<array>
				<string>/Volumes/Clip/export/Cocksuckers!2.mov</string>
			</array>
			<key>sourceFP</key>
			<string>bKT5TEdTSyykhZcCkq5sqA - 2019-02-03 21:18:57 +0000</string>
		</dict>
		<dict>
			<key>date</key>
			<string>Tuesday 12 November 2019 at 23:46:35 Central European Standard Time</string>
			<key>fullDate</key>
			<date>2019-11-12T22:46:35Z</date>
			<key>resultStr</key>
			<array>
				<string>/Volumes/Clip/gif/transfo.jpg</string>
			</array>
			<key>sourceFP</key>
			<string>bKT5TEdTSyykhZcCkq5sqA - 2019-11-12 22:36:42 +0000</string>
		</dict>
		<dict>
			<key>date</key>
			<string>Monday 18 November 2019 at 14:11:19 Central European Standard Time</string>
			<key>fullDate</key>
			<date>2019-11-18T13:11:19Z</date>
			<key>resultStr</key>
			<array>
				<string>/Users/martin/Dropbox/CockSuckers/Cocksuckers.mov</string>
			</array>
			<key>sourceFP</key>
			<string>bKT5TEdTSyykhZcCkq5sqA - 2019-11-18 00:53:28 +0000</string>
		</dict>
	</array>
	<key>youtube</key>
	<array>
		<dict>
			<key>date</key>
			<string>Monday 8 October 2018 at 00:26:33 Central European Summer Time</string>
			<key>description</key>
			<string>This video is about Cocksuckers!</string>
			<key>fullDate</key>
			<date>2018-10-07T22:26:33Z</date>
			<key>login</key>
			<string>les-cocksuckers-8210@pages.plusgoogle.com</string>
			<key>resultStr</key>
			<array>
				<string>https://www.youtube.com/watch?v=qsYlurIIu1o</string>
			</array>
			<key>sourceFP</key>
			<string>bKT5TEdTSyykhZcCkq5sqA - 2018-10-07 22:23:34 +0000</string>
			<key>title</key>
			<string>Cocksuckers!</string>
		</dict>
		<dict>
			<key>date</key>
			<string>Friday 2 November 2018 at 01:57:15 Central European Standard Time</string>
			<key>description</key>
			<string>This video is about Cocksuckers!</string>
			<key>fullDate</key>
			<date>2018-11-02T00:57:15Z</date>
			<key>login</key>
			<string>les-cocksuckers-8210@pages.plusgoogle.com</string>
			<key>resultStr</key>
			<array>
				<string>https://www.youtube.com/watch?v=nlz1x99p3D8</string>
			</array>
			<key>sourceFP</key>
			<string>bKT5TEdTSyykhZcCkq5sqA - 2018-11-02 00:48:42 +0000</string>
			<key>title</key>
			<string>Cocksuckers!</string>
		</dict>
		<dict>
			<key>date</key>
			<string>Monday 4 February 2019 at 00:41:50 Central European Standard Time</string>
			<key>description</key>
			<string>This video is about Cocksuckers!</string>
			<key>fullDate</key>
			<date>2019-02-03T23:41:50Z</date>
			<key>login</key>
			<string>les-cocksuckers-8210@pages.plusgoogle.com</string>
			<key>resultStr</key>
			<array>
				<string>https://www.youtube.com/watch?v=VoZ14Lgs0CY</string>
			</array>
			<key>sourceFP</key>
			<string>bKT5TEdTSyykhZcCkq5sqA - 2019-02-03 23:32:52 +0000</string>
			<key>title</key>
			<string>Cocksuckers!</string>
		</dict>
		<dict>
			<key>date</key>
			<string>Sunday 24 February 2019 at 22:51:58 Central European Standard Time</string>
			<key>description</key>
			<string>This video is about Cocksuckers!</string>
			<key>fullDate</key>
			<date>2019-02-24T21:51:58Z</date>
			<key>login</key>
			<string>les-cocksuckers-8210@pages.plusgoogle.com</string>
			<key>resultStr</key>
			<array>
				<string>https://www.youtube.com/watch?v=lAMyqCusaXg</string>
			</array>
			<key>sourceFP</key>
			<string>bKT5TEdTSyykhZcCkq5sqA - 2019-02-24 15:53:57 +0000</string>
			<key>title</key>
			<string>Cocksuckers!</string>
		</dict>
		<dict>
			<key>date</key>
			<string>Tuesday 9 April 2019 at 20:51:45 Central European Summer Time</string>
			<key>description</key>
			<string>This video is about Cocksuckers!</string>
			<key>fullDate</key>
			<date>2019-04-09T18:51:45Z</date>
			<key>login</key>
			<string>les-cocksuckers-8210@pages.plusgoogle.com</string>
			<key>resultStr</key>
			<array>
				<string>https://www.youtube.com/watch?v=DEoiPbHoyYc</string>
			</array>
			<key>sourceFP</key>
			<string>bKT5TEdTSyykhZcCkq5sqA - 2019-04-07 22:52:49 +0000</string>
			<key>title</key>
			<string>Cocksuckers!</string>
		</dict>
		<dict>
			<key>date</key>
			<string>Wednesday 2 October 2019 at 17:25:30 Central European Summer Time</string>
			<key>description</key>
			<string>This video is about Cocksuckers!</string>
			<key>fullDate</key>
			<date>2019-10-02T15:25:30Z</date>
			<key>login</key>
			<string>les-cocksuckers-8210@pages.plusgoogle.com</string>
			<key>resultStr</key>
			<array>
				<string>https://www.youtube.com/watch?v=u0je0gqiozY</string>
			</array>
			<key>sourceFP</key>
			<string>bKT5TEdTSyykhZcCkq5sqA - 2019-10-02 15:13:45 +0000</string>
			<key>title</key>
			<string>Cocksuckers 2/10/19</string>
		</dict>
		<dict>
			<key>date</key>
			<string>Wednesday 2 October 2019 at 21:54:25 Central European Summer Time</string>
			<key>description</key>
			<string>This video is about Cocksuckers!</string>
			<key>fullDate</key>
			<date>2019-10-02T19:54:25Z</date>
			<key>login</key>
			<string>les-cocksuckers-8210@pages.plusgoogle.com</string>
			<key>resultStr</key>
			<array>
				<string>https://www.youtube.com/watch?v=pwMopaF7mQ4</string>
			</array>
			<key>sourceFP</key>
			<string>bKT5TEdTSyykhZcCkq5sqA - 2019-10-02 19:39:16 +0000</string>
			<key>title</key>
			<string>Cocksuckers!</string>
		</dict>
		<dict>
			<key>date</key>
			<string>Monday 14 October 2019 at 23:49:34 Central European Summer Time</string>
			<key>description</key>
			<string>This video is about Cocksuckers!</string>
			<key>fullDate</key>
			<date>2019-10-14T21:49:34Z</date>
			<key>login</key>
			<string>les-cocksuckers-8210@pages.plusgoogle.com</string>
			<key>resultStr</key>
			<array>
				<string>https://www.youtube.com/watch?v=X5ciXFUmnXg</string>
			</array>
			<key>sourceFP</key>
			<string>bKT5TEdTSyykhZcCkq5sqA - 2019-10-14 21:31:26 +0000</string>
			<key>title</key>
			<string>Cocksuckers</string>
		</dict>
		<dict>
			<key>date</key>
			<string>Friday 25 October 2019 at 00:21:32 Central European Summer Time</string>
			<key>description</key>
			<string>This video is about Cocksuckers!</string>
			<key>fullDate</key>
			<date>2019-10-24T22:21:32Z</date>
			<key>login</key>
			<string>les-cocksuckers-8210@pages.plusgoogle.com</string>
			<key>resultStr</key>
			<array>
				<string>https://www.youtube.com/watch?v=VHyCw0FJzwo</string>
			</array>
			<key>sourceFP</key>
			<string>bKT5TEdTSyykhZcCkq5sqA - 2019-10-24 22:02:47 +0000</string>
			<key>title</key>
			<string>Cocksuckers!</string>
		</dict>
		<dict>
			<key>date</key>
			<string>Tuesday 12 November 2019 at 21:52:15 Central European Standard Time</string>
			<key>description</key>
			<string>This video is about Cocksuckers!</string>
			<key>fullDate</key>
			<date>2019-11-12T20:52:15Z</date>
			<key>login</key>
			<string>les-cocksuckers-8210@pages.plusgoogle.com</string>
			<key>resultStr</key>
			<array>
				<string>https://www.youtube.com/watch?v=D6WPwQp11dA</string>
			</array>
			<key>sourceFP</key>
			<string>bKT5TEdTSyykhZcCkq5sqA - 2019-11-12 20:02:00 +0000</string>
			<key>title</key>
			<string>Cocksuckers!</string>
		</dict>
		<dict>
			<key>date</key>
			<string>Tuesday 3 December 2019 at 00:22:45 Central European Standard Time</string>
			<key>description</key>
			<string>Le clip vidéo des Cocksuckers</string>
			<key>fullDate</key>
			<date>2019-12-02T23:22:45Z</date>
			<key>login</key>
			<string>les-cocksuckers-8210@pages.plusgoogle.com</string>
			<key>resultStr</key>
			<array>
				<string>https://www.youtube.com/watch?v=7619k9WT9XI</string>
			</array>
			<key>sourceFP</key>
			<string>bKT5TEdTSyykhZcCkq5sqA - 2019-12-02 23:09:21 +0000</string>
			<key>title</key>
			<string>Cocksuckers</string>
		</dict>
	</array>
</dict>
</plist>
