<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupFolderName</key>
	<string>Cocksuckers</string>
	<key>libraryID</key>
	<string>91262C9B-1B18-4A42-8F3C-67D080F9E810</string>
	<key>mediaLocation</key>
	<data>
	Ym9vazwEAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAALAMA
	AAcAAAABAQAAVm9sdW1lcwAEAAAAAQEAAENsaXAIAAAAAQYAAAQAAAAUAAAACAAAAAQD
	AADaygkAAAAAAAAAAAABCgAACAAAAAEGAAAwAAAAQAAAAAgAAAAABAAAwc0n5EAAAAAY
	AAAAAQIAAAoAAAAAAAAADwEAAAAAAAAAAQAAAAAAABUAAAABCQAAZmlsZTovLy9Wb2x1
	bWVzL0NsaXAvAAAACAAAAAQDAAAAAMDe6AAAACQAAAABAQAAMzBEMTg3MDYtRUZFQy0z
	MTZELTlFRUUtREFDRkUxREMxMjRGGAAAAAECAAABAQAAAAAAAO8TAAABAAAAAAAAAAAA
	AAANAAAAAQEAAC9Wb2x1bWVzL0NsaXAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABN
	YWNpbnRvc2ggSEQIAAAABAMAAACQIGh0AAAACAAAAAAEAABBv9IPszul8yQAAAABAQAA
	MTFBOTgxRDMtMkQyNS00OTA1LUFBMzQtRDBFQ0Q0MURBRTIzGAAAAAECAACBAAAAAQAA
	AO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAABgAAAA/v///wDwAAAAAAAABwAAAAIg
	AACsAQAAAAAAAAUgAAAcAQAAAAAAABAgAAAsAQAAAAAAABEgAABgAQAAAAAAABIgAABA
	AQAAAAAAABMgAABQAQAAAAAAACAgAACMAQAAAAAAAAQAAAADAwAAAPAAAAQAAAADAwAA
	AAAAAAQAAAADAwAAAQAAAAwAAAABBgAAIAIAACwCAAA4AgAADQAAAAEBAABwdWJsaWMu
	dm9sdW1lAAAAEQAAAAEBAABOU1VSTFZvbHVtZVVSTEtleQAAAJgAAAABAgAAZTJhNWZj
	ZDVhYTU1NTU2NGVjNzE5NDRhYjEyMWY4NWU1MjdhZjFhYzswMDAwMDAwMDswMDAwMDAw
	MDswMDAwMDAwMDAwMDAwMDIwO2NvbS5hcHBsZS5hcHAtc2FuZGJveC5yZWFkLXdyaXRl
	OzAxOzAxMDAwMDBhOzAwMDAwMDAwMDAwMDAwMDU7L3ZvbHVtZXMvY2xpcADYAAAA/v//
	/wEAAAC4AQAAEQAAAAQQAAAgAAAAAAAAAAUQAABIAAAAAAAAABAQAABoAAAAAAAAAEAQ
	AABYAAAAAAAAAAAgAABEAgAAAAAAAAIgAAAEAQAAAAAAAAUgAACIAAAAAAAAABAgAAAU
	AAAAAAAAABEgAAC4AAAAAAAAABIgAACoAAAAAAAAABMgAABYAAAAAAAAACAgAADkAAAA
	AAAAABfwAAAUAAAAAAAAAIDwAACMAgAAAAAAAAD/AAAEAQAAAAAAAAQADwBYAgAAAAAA
	AHACAICIAAAAAAAAAA==
	</data>
</dict>
</plist>
